<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/images/frontend/favicon.png" rel="shortcut icon">
        {% block meta %}
            {% block meta_title %}
                <title>Burgering House</title>
            {% endblock %}

            {% block meta_keywords %}
                <meta name="keywords" content="test">
            {% endblock %}
            {% block meta_description %}
                <meta name="description" content="test">
            {% endblock %}
        {% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 'css/frontend/*' filter='?uglifycss' filter='cssrewrite' %}
                <link rel="stylesheet"  type="text/css" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="/ie-assets/ie7.css"/><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href="/ie-assets/ie8.css"/><![endif]-->
        <!--[if IE 9]><link rel="stylesheet" type="text/css" media="screen" href="/ie-assets/ie9.css"/><![endif]-->
    </head>
    <body>
        <noscript>
            <style>
                noscript { display: block; }
                html, body {
                    visibility: visible !important;
                    opacity: 1 !important;
                }
            </style>
            <div class="noscript">
                <h4 class="upperCase">JavaScript seems to be disabled in your browser.</h4>
                You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
                <br>
                <a href="http://www.enable-javascript.com/" title="Javascript enable" target="_blank" class="button">How to enable JavaScript?</a>
            </div>
        </noscript>
        <header id="header"></header>
        <div id="content" class='mainWidth'>
            <input id='navToggle' type='checkbox' />
            <label for='navToggle'></label>
            <nav id="mainNav">
                <ul class='inlineContainer'>
                    <li class='selected'><a href='index.html'>Home</a></li>
                    <li><a href='article.html'>Articles</a></li>
                    <li><a href='gallery.html'>Gallery</a></li>
                    <li><a href='profile.html'>Profile</a></li>
                    <li>
                        <a>Menu</a>
                        <ul class='submenu'>
                            <li><a href='#'>Link #1</a></li>
                            <li><a href='#'>Link #2</a></li>
                            <li><a href='#'>Link #3</a></li>
                            <li><a href='#'>Link #4</a></li>
                            <li><a href='#'>Link #5</a></li>
                        </ul>
                    </li>
                    <li><a href='extra.html'>Extra</a></li>
                    <li id='userNavigation'>
                        <div class='avatarWrap'>
                            <img class='avatar' src='/placeholders/35x35_avatar_index.jpg' alt='Avatar' />
                            <div class='messages'>3</div>
                        </div>
                        <span class='username'>Lorem ipsum</span>
                        <ul class='submenu right'>
                            <li><a href='#'>Messages <span class='messages'>(3)</span></a></li>
                            <li><a href='#'>Options</a></li>
                            <li><a href='#'>Administration</a></li>
                            <li><a href='#'>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            {{ render(controller('ApplicationStenikSliderBundle:SliderFrontend:view', { '_locale': app.request.locale, 'route': app.request.attributes.get('_route'), 'route_params' :app.request.attributes.get('_route_params') })) }}
            {% block body %}{% endblock %}
        </div>
        {{ render(controller('StenikFrontendBundle:Frontend:footer', { '_locale': app.request.locale, 'route': app.request.attributes.get('_route')})) }}
        {% block javascripts %}
            {% javascripts 'js/frontend/*' filter='?uglifyjs2' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
