<footer id='footer' class='mainWidth borderBox inlineContainer'>
	<div class='leftColumn'>
		<div class='info'></div>
		<div class='about borderBox'>
			<h2>About us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis aliquam diam, nec volutpat dolor consequat et. Sed posuere nulla in diam pretium, in porttitor sapien facilisis.</p>
			<ul class='social'>
				<li class='twitter'><a href='#'><img src='images/twitter.png' alt='Twitter'></a></li>
				<li class='facebook'><a href='#'><img src='images/facebook.png' alt='Facebook'></a></li>
				<li class='youtube'><a href='#'><img src='images/youtube.png' alt='Youtube'></a></li>
			</ul>
		</div>
	</div>
	<div class='siteMap rightColumn'>
		<h2>Site Map</h2>
		<ul class='left'>
			<li><a href='#'>Home</a></li>
			<li><a href='#'>Lorem</a></li>
			<li><a href='#'>Lorem</a></li>
			<li><a href='#'>Lorem</a></li>
			<li><a href='#'>Lorem</a></li>
		</ul>
		<ul class='right'>
			<li><a href='#'>Home</a></li>
			<li><a href='#'>Lorem</a></li>
			<li><a href='#'>Lorem</a></li>
			<li><a href='#'>Lorem</a></li>
			<li><a href='#'>Lorem</a></li>
		</ul>
	</div>
</footer>